{
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "objectWrap": "collapse",
  "proseWrap": "always",
  "plugins": ["prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "language": "postgresql",
        "expressionWidth": 45,
        "logicalOperatorNewline": "after",
        "keywordCase": "lower",
        "dataTypeCase": "lower",
        "functionCase": "lower",
        "identifierCase": "lower"
      }
    }
  ]
}
