{
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "objectWrap": "collapse",
  "proseWrap": "always",
  "plugins": ["prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql",
        "keywordCase": "upper",
        "dataTypeCase": "upper",
        "functionCase": "upper"
      }
    }
  ]
}
