{
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "objectWrap": "collapse",
  "proseWrap": "always",
  "plugins": ["./node_modules/prettier-plugin-sql/lib/index.cjs"],
  "overrides": [{ "files": "*.sql", "options": { "language": "postgresql" } }]
}
